[package]
name = "os"
version = "0.1.0"
edition = "2024"

[dependencies]
riscv = "0.15.0"
lazy_static = { version = "1.4.0", features = ["spin_no_std"] }
[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
